<!-- <div id="container">
  <label>Usuário:</label>
  <input type="text" placeholder="Digite seu Usuário"><br><br>
  <label>Senha:</label>
  <input type="text" placeholder="Digite sua senha">
</div> -->