<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="tab1">
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-label>Votação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-label>Configuração</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
