<div class="containerLabel1">
  <label><b>Câmara Municipal de<br>
            São Caetano do Sul - SP</b>
  </label>
</div>

<div class="containerLabel2">
  <label><b>XXI - Sessão Ordinária<br>
            Instalação de ponto de ônibus<br>
            na praça central</b>
  </label>
</div>

<div class="containerBotao">
  <button class="botao-concordo">Concordo</button>
  <button class="botao-discordo">Discordo</button>
  <button class="botao-abster">Abstenho-me</button>
</div>