#title{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(47, 0, 255);
}

body{
    background: darkviolet;
}

.containerLabel1{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: rgb(228, 235, 235);
}

.containerLabel2{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(131, 129, 129);
    height: 100px;
    width: 80%;
    text-align: center;
}

.containerBotao{
    margin: 0 auto;
}

button{
    margin: 0 15px 15px;
}

.botao-concordo {

    background: #06a11b;
    color: white;
    border-style: outset;
    border-radius: 70%;
    height: 40px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
}
.botao-discordo {

    background: #d10a0a;
    color: white;
    border-style: outset;
    border-radius: 70%;
    height: 40px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
}
.botao-abster {

    background: #cfcc04;
    color: white;
    border-style: outset;
    border-radius: 70%;
    height: 40px;
    width: 120px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
}







