<div id="container">
  <label>Usuário:</label>
  <input type="text" placeholder="Digite seu Usuário"><br><br>
  <label>Senha:</label>
  <input type="text" placeholder="Digite sua senha">
  <div>
    <ion-button color="primary">1</ion-button>
    <ion-button color="primary">2</ion-button>
    <ion-button color="primary">3</ion-button><br>
    <ion-button color="primary">4</ion-button>
    <ion-button color="primary">5</ion-button>
    <ion-button color="primary">6</ion-button><br>
    <ion-button color="primary">7</ion-button>
    <ion-button color="primary">8</ion-button>
    <ion-button color="primary">9</ion-button><br>
    <ion-button color="primary"><ion-icon color="danger"name="close-outline"></ion-icon></ion-button>
    <ion-button color="primary">0</ion-button>
    <ion-button color="primary"><ion-icon color="success" name="checkmark-circle-outline"></ion-icon></ion-button>
  </div>

</div>



