#title{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(47, 0, 255);
}

.containerLabel1{
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 120px;
    background-color: rgb(228, 235, 235);
}

.containerLabel2{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    height: 100px;
    width: 80%;
    text-align: center;
}