<div class="containerLabel1">
  <label><b>Câmara Municipal de<br>
            São Caetano do Sul - SP</b>
  </label>
</div>

<div class="containerLabel2">
  <label><b>Código da Câmara: 83422888<br>
            Nome Vereador: José Roberto</b>
  </label>
</div>
